<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form_message form_message-error" *ngIf="!form.valid && form.touched">
          <p>The Form is invalid:</p>
          <ul>
            <li *ngIf="!email.valid">invalid email</li>
            <li *ngIf="!password.valid">invalid password</li>
          </ul>
        </div>
        <div class="form_item">
          <label class="form_label" for="email">Email</label>
          <input class="form_input" id="email" type="text" name="email" ngModel required email #email="ngModel">
          <p class="help-block" *ngIf="!email.valid && email.touched">Enter valid email</p>
        </div>
        <div class="form_item">
          <label class="form_label" for="subscription">Subscriptions</label>
          <select class="form_select" id="subscription" name="subscription" [ngModel]="defaultSubscriprion">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form_item">
          <label class="form_label" for="password">Password</label>
          <input class="form_input" id="password" type="password" ngModel name="password" required #password="ngModel">
          <p class="help-block" *ngIf="!password.valid && password.touched">Password input is empty</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
